*.pyc
primer/
pdf/
e/
python_sessions/
Emails/
*.png
*.eps
*.hdf5
*.h5
*.txt
*.h5
*.pdf
*.o
*.so
.vscode/
.ipynb_checkpoints/
*.gif
._.DS_Store
.DS_Store


build/
dist/
*.so 
*.egg-info/
*.egg
*.o
*.c 
*.pyc
*.pyo
*.pyd
*_wrap.*
